#coverage-requirements {
  @media screen and (max-width: 781px) {
    padding-top: 5rem !important;
  }
}

.wp-container-core-group-layout-8.wp-container-core-group-layout-8 {
  // homepage How We Can Help right side spacing on smaller sizes
  @media screen and (max-width: 781px) {
    --wp--preset--spacing--20: min(1rem, 6vw);
  }
}
html[lang^="en"] {
  #how-we-can-help {
    & > .wp-block-columns {
      & > .wp-block-column {
        --column: 20%;
        &:first-child {
          @media screen and (min-width: 782px) and (max-width: 1120px) {
            //adjust text around "HOW WE CAN HELP" on homepage
            outline: 2px dotted orange;
            width: var(--column) !important;
          }
        }
        &:nth-child(2) {
          @media screen and (min-width: 782px) and (max-width: 1120px) {
            outline: 2px dotted brown;
            width: calc(100% - var(--column)) !important;
          }
        }
      }
    }
  }
}
main > .entry-content > .wp-block-columns {
  // increase spacing below nav to hero element
  @media screen and (max-width: 781px) {
    &:before {
      content: "";
      height: 1rem;
      width: 1px;
    }
  }
}
#stats {
  .wp-block-heading {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  h2 {
    font-size: clamp(2.75rem, 2.875rem + ((1vw - 0.2rem) * 2.442), 3.75rem) !important;
  }
  p {
    font-size: 1.25rem !important;
    transform: translateY(-0.125em);
  }
}

#insurance-coverage-requirements {
  position: relative !important;
  z-index: -1;
  &:before {
    content: "";
    position: fixed;
    // top: 0;
    right: 0;
    height: 4rem;
    width: 100vw;
    background-image: url(../assets/images/threehorizontalstripes.svg);
    background-position: right center;
    z-index: 0;
    background-size: 22rem;
    background-repeat: no-repeat;
    transform: translateY(-0.5rem);
    @supports (-webkit-touch-callout: none) {
      // iOS Safari only
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1140px) {
    padding-right: 40vw;
    &:before {
      // top: 1.5rem;
    }
  }
  @media screen and (max-width: 781px) {
    &:before {
      content: none;
    }
  }
}
#howcanwehelp-1 {
  z-index: 3;
}
#howcanwehelp-2 {
  z-index: 2;
}

.leaflet-popup-content h6 {
  font-size: 0.92rem !important;
}
