#alert-banner {
  --slabheight: 0.375rem;
  --banner-radius: 1rem;
  border-bottom-left-radius: var(--banner-radius);
  border-bottom-right-radius: var(--banner-radius);
  margin-bottom: calc(var(--banner-radius) * -1);
  box-shadow: 0 calc(var(--banner-radius) * 0.25) calc(var(--banner-radius) * 0.5) rgba(0, 0, 0, 0.15);
  @media screen and (min-width: 600px) {
    --banner-radius: 1.5rem;
  }
  @media screen and (min-width: 1200px) {
    --banner-radius: 1.875rem;
  }
  @media screen and (min-width: 1320px) {
    --banner-radius: 2.5rem;
  }
  & > .wp-block-query:not(:empty) {
    position: relative;
    padding-top: var(--slabheight);
    &::before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 100vw;
      height: var(--slabheight);
      background-color: var(--wp--preset--color--accent-5);
      top: 0;
      z-index: 100;
    }
  }
  .wp-block-post-template {
    @media screen and (max-width: 919px) {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }
  }
}
#alert-banner .wp-block-post-template.is-layout-flow {
  padding-top: var(--wp--preset--spacing--20);
  padding-right: var(--wp--preset--spacing--30);
  padding-bottom: var(--wp--preset--spacing--20);
  padding-left: var(--wp--preset--spacing--30);
}

#alert-banner {
}
