.wp-block-button__link.has-background {
  // change hover effect to filter to work with all colors
  a:hover {
    filter: brightness(90%);
  }
}
.wp-block-button__link {
  @media screen and (max-width: 781px) {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }
}
.wp-block-button {
  .wp-block-button__link.wp-element-button {
    line-height: 1 !important;
  }
}
