footer {
  position: relative;
  .wp-block-column {
    // position: relative;
    // z-index: 1;
  }
  #footer-decoration-container {
    // height: 0;
    // display: flex;
    // overflow: visible;
    // height: 0;
    figure {
      // position: relative;
      // overflow: visible;
      // height: 0;
      img {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        display: block;
        // min-width: 20vw;
      }
    }
  }
  #footer-decoration-mobile,
  #footer-decoration-desktop {
    img {
      // transform: translateY(-50%);
    }
  }
  #footer-decoration-desktop {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  #footer-decoration-mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  #footer-decorativespace {
    @media screen and (min-width: 782px) and (max-width: 1140px) {
      max-width: 0;
    }
  }
}
.block-editor-iframe__body .editor-footer {
  background-color: var(--wp--preset--color--contrast);
}
// .block-editor-iframe__body .editor-footer,
footer {
  --deco-offset-width: 120px;
  --deco-offset: 15rem;
  --corner-radius: 2.5rem;

  background-color: var(--wp--preset--color--contrast);
  background-image: url(../assets/images/footer_decoration_mobile.svg);
  background-position: 100% bottom;
  background-repeat: no-repeat;
  background-size: var(--deco-offset-width);
  border-top-left-radius: var(--corner-radius);
  margin-top: calc(var(--corner-radius) * -1);
  @media screen and (min-width: 768px) {
    background-position: calc(100vw - var(--deco-offset) - var(--deco-offset-width)) bottom;
    --deco-offset-width: 300px;
    --deco-offset: 4rem;
    --corner-radius: 3.25rem;
    background-image: url(../assets/images/footer_decoration_desktop.svg);
  }
  @media screen and (min-width: 900px) {
    --corner-radius: 3rem;
    --deco-offset-width: 290px;
    --deco-offset: 2.5rem;
  }
  @media screen and (min-width: 1320px) {
    --deco-offset-width: 340px;
    --deco-offset: 3rem;
  }
  @media screen and (min-width: 782px) and (max-width: 1140px) {
    // padding to clear decorative space
  }
}
#footer-address {
  @media screen and (min-width: 960px) and (max-width: 1140px) {
    // transform: translateX(-3rem);
  }
}
#footer-menuitems {
  @media screen and (min-width: 1140px) {
    & .wp-block-group .wp-block-group {
      width: 360px;
    }
    width: 820px !important;
  }
  @media screen and (max-width: 767px) {
    button[type="submit"] {
      width: 100% !important;
    }
  }
  @media screen and (min-width: 1400px) {
    max-width: 20rem;
  }
}
#footer-newsletter {
  @media screen and (max-width: 767px) {
    button[type="submit"] {
      width: 100% !important;
    }
  }
}
footer > .wp-block-group > .wp-block-columns {
  /* CAP MAX WIDTH OF FOOTER */
  @media screen and (min-width: 1400px) {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
