body {
  // border: 20px solid blue;
  * {
    box-sizing: border-box;
  }
}
.fullwidth {
  width: 100% !important;
}

main.wp-block-group {
  margin-top: 0;
}
.wpforms-recaptcha-container {
  display: none;
}
strong {
  font-weight: 600;
}

:root {
  .wp-block-group {
    --wp--preset--spacing--30: min(2.625rem, 4.5vw);
  }
}

.wp-block-paragraph + .wp-block-paragraph {
  margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    // display: none !important;
  }
}
body:not(.wp-admin) .sr-only {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  white-space: nowrap !important; /* added to ensure the text does not wrap */
}
h1.sr-only + section,
h1.sr-only + section + section.block-visibility-hide-large-screen {
  margin-top: 0 !important;
}
