body {
  // border: 20px solid blue;
  * {
    box-sizing: border-box;
  }
}
.fullwidth {
  width: 100% !important;
}

main.wp-block-group {
  margin-top: 0;
}
.wpforms-recaptcha-container {
  display: none;
}
strong {
  font-weight: 600;
}

:root {
  .wp-block-group {
    --wp--preset--spacing--30: min(2.625rem, 4.5vw);
  }
}

.wp-block-paragraph + .wp-block-paragraph {
  margin-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    // display: none !important;
  }
}
body:not(.wp-admin) .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* added to ensure the text does not wrap */
}
