.display {
  .wp-block-post-content &,
  .wp-block-post-content &.wp-block-heading {
    font-size: 3.125rem !important;
    line-height: 1.13;
    @media screen and (min-width: 600px) {
      font-size: 4.5rem !important;
    }
    @media screen and (min-width: 1200px) {
      font-size: 6.1875rem !important;
    }
  }
}
// body:not(.single-post) {
:not(.single-post) h1 {
  .wp-block-post-content &,
  .wp-block-post-content &.wp-block-heading {
    font-size: 2.25rem !important;
    // font-size: clamp(2vw, 2.5625rem, 5.125vw) !important;

    line-height: 1.13;
    @media screen and (min-width: 475px) {
      font-size: 2.5625rem !important;
    }
    @media screen and (min-width: 782px) {
      font-size: 3.125rem !important;
      font-size: clamp(4vw, 3.875rem, 5.125vw) !important;
    }
    // @media screen and (min-width: 1024px) {
    //   font-size: 3rem !important;
    //   font-size: clamp(5vw, 3rem, 7vw) !important;
    // }
    @media screen and (min-width: 1200px) {
      font-size: 4.0625rem !important;
      font-size: clamp(3w, 14.0625rem, 4.75vw) !important;
    }
  }
}
h1.blog-title {
  font-size: 2.25rem !important;
  text-align: left;
  // font-size: clamp(2vw, 2.5625rem, 5.125vw) !important;

  line-height: 1.13;
  @media screen and (min-width: 475px) {
    font-size: 2.5625rem !important;
  }
  @media screen and (min-width: 782px) {
    text-align: center;
    font-size: 3.125rem !important;
    font-size: clamp(4vw, 3.875rem, 5.125vw) !important;
  }
  // @media screen and (min-width: 1024px) {
  //   font-size: 3rem !important;
  //   font-size: clamp(5vw, 3rem, 7vw) !important;
  // }
  @media screen and (min-width: 1200px) {
    font-size: 4.0625rem !important;
    font-size: clamp(3w, 14.0625rem, 4.75vw) !important;
  }
}
// }

h2 {
  .wp-block-post-content &,
  .wp-block-post-content &.wp-block-heading {
    font-size: 2rem !important;
    @media screen and (min-width: 600px) {
      font-size: 2.8125rem !important;
    }
  }
}
h3 {
  .wp-block-post-content &,
  .wp-block-post-content &.wp-block-heading {
    font-size: 1.5625rem !important;
    @media screen and (min-width: 600px) {
      font-size: 1.8752rem !important;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.125rem !important;
    }
  }
}
h4 {
  .wp-block-post-content &,
  .wp-block-post-content &.wp-block-heading {
    font-size: 1.5rem !important;
    line-height: 1.25;
    @media screen and (min-width: 600px) {
      font-size: 1.5625rem !important;
    }
  }
}

.subheading {
  font-size: 1.25rem !important;
  @media screen and (min-width: 600px) {
    font-size: 1.375rem !important;
  }
}
p,
.paragraph {
  .wp-block-post-content &,
  .wp-block-post-content &.wp-block-heading {
    font-size: 0.875rem !important;
    line-height: 1.57;
    @media screen and (min-width: 600px) {
      font-size: 1rem !important;
      line-height: 1.56;
    }
  }
}
