.big-green-equals {
  max-width: 53px;
  @media screen and (min-width: 600px) {
    max-width: 64px;
  }
  @media screen and (min-width: 768px) {
    max-width: none;
  }
}
.homepage-hero {
  height: calc(100vh - var(--nav-minheight));
}
