.language-switcher {
  &__container {
    max-width: var(--wp--style--global--wide-size) !important;
    position: relative;
    height: 0;
    overflow: visible;
    & + .wp-block-group {
      margin-top: 0;
    }
    // @media screen and (min-width: 768px) and (max-width: 1079px) {
    //   position: relative;
    //   transform: translateY(0);
    // }
    @media screen and (min-width: 1080px) {
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      transform: translateY(-2.75rem);
      right: 0;
    }
    @media screen and (min-width: 1280px) {
      transform: translateY(-2.9375rem);
    }
  }
  &__unit {
    font-family: var(--wp--preset--font-family--metropolis);
    font-size: 0.88rem;
    font-weight: 600;
    display: block;
    margin-right: auto;
    z-index: 20;
    @media screen and (min-width: 768px) and (max-width: 1079px) {
      font-size: 0.85rem;
    }
    a {
      line-height: 1;
      text-decoration: none;
      text-underline-offset: 3px;
    }
    &:hover a {
      text-decoration: underline;
    }
    &:focus a {
      outline: 1px dotted var(--wp--preset--color--contrast-3);
      outline-offset: 3px;
    }
  }
}
