.language-switcher {
  &__container {
    max-width: var(--wp--style--global--wide-size) !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    overflow: visible;
    & + .wp-block-group {
      margin-top: 0;
    }
  }
  &__unit {
    font-family: var(--wp--preset--font-family--metropolis);
    font-size: 0.88rem;
    font-weight: 600;
    position: absolute;
    display: block;
    margin-right: auto;
    right: 0;
    transform: translateY(-0.375rem);
    z-index: 20;
    a {
      line-height: 1;
      text-decoration: none;
      text-underline-offset: 3px;
    }
    &:hover a {
      text-decoration: underline;
    }
    &:focus a {
      outline: 1px dotted var(--wp--preset--color--contrast-3);
      outline-offset: 3px;
    }
  }
}
