.loadmoreposts--fadein {
  animation: fadeIn ease 1.75s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header > .is-position-sticky {
  top: 0;
  bottom: 0;
}
.loadmoreposts--button {
  padding-top: 0.5rem;
  .wp-block-button__link {
    cursor: pointer;
    font-size: 0.92rem;
    border: 1px solid var(--wp--preset--color--contrast-2) !important;
    padding-top: 0.7rem !important;
    padding-right: calc(1rem - 1px) !important;
    padding-bottom: 0.75rem !important;
    padding-left: calc(1rem - 1px) !important;
    background-color: transparent !important;
    background-image: none;
    color: currentColor !important;
    transition: background-color 0.15s ease-in-out;

    &::after {
      display: inline-block;
      position: relative;
      margin-left: 0.25em;
      content: "";
      width: 2em;
      height: 1em;
      text-align: right;
      transform: translate(0.2em, 0.2em);
      transition: all 0.3s ease-in-out !important;
      //green arrow
      background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjU1IDQuMDhDMTMuODQgMy43OSAxNC4yMyAzLjYzIDE0LjY0IDMuNjNDMTUuMDQgMy42MyAxNS40MyAzLjc5IDE1LjcyIDQuMDhMMjIuNjIgMTAuOThDMjIuOTEgMTEuMjcgMjMuMDcgMTEuNjYgMjMuMDcgMTIuMDdDMjMuMDcgMTIuNDcgMjIuOTEgMTIuODYgMjIuNjIgMTMuMTVMMTUuNzIgMjAuMDVDMTUuNDMgMjAuMzMgMTUuMDUgMjAuNDggMTQuNjQgMjAuNDhDMTQuMjQgMjAuNDggMTMuODYgMjAuMzIgMTMuNTcgMjAuMDNDMTMuMjkgMTkuNzUgMTMuMTMgMTkuMzYgMTMuMTIgMTguOTZDMTMuMTIgMTguNTYgMTMuMjcgMTguMTcgMTMuNTUgMTcuODhMMTcuNzAgMTMuNjBIMy4xNEMyLjczIDEzLjYwIDIuMzQgMTMuNDQgMi4wNSAxMy4xNUMxLjc3IDEyLjg2IDEuNjAgMTIuNDcgMS42MCAxMi4wN0MxLjYwIDExLjY2IDEuNzcgMTEuMjcgMi4wNSAxMC45OEMyLjM0IDEwLjY5IDIuNzMgMTAuNTMgMy4xNCAxMC41M0gxNy43MEwxMy41NSA2LjI1QzEzLjI3IDUuOTYgMTMuMTAgNS41NyAxMy4xMCA1LjE3QzEzLjEwIDQuNzYgMTMuMjcgNC4zNyAxMy41NSA0LjA4WiIgZmlsbD0iIzAwODk0MSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwgLTQpIiAvPiA8L3N2Zz4=")
        no-repeat center;
      background-size: contain;
    }

    .loadmoreposts-job-openings__unit & {
      color: var(--wp--preset--color--white) !important;
      background-color: var(--wp--preset--color--contrast) !important;
      border-color: var(--wp--preset--color--contrast) !important;
      &::after {
        opacity: 0.92 !important;
      }
    }

    .loadmoreposts-job-openings__unit &::after {
      background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjU1IDQuMDhDMTMuODQgMy43OSAxNC4yMyAzLjYzIDE0LjY0IDMuNjNDMTUuMDQgMy42MyAxNS40MyAzLjc5IDE1LjcyIDQuMDhMMjIuNjIgMTAuOThDMjIuOTEgMTEuMjcgMjMuMDcgMTEuNjYgMjMuMDcgMTIuMDdDMjMuMDcgMTIuNDcgMjIuOTEgMTIuODYgMjIuNjIgMTMuMTVMMTUuNzIgMjAuMDVDMTUuNDMgMjAuMzMgMTUuMDUgMjAuNDggMTQuNjQgMjAuNDhDMTQuMjQgMjAuNDggMTMuODYgMjAuMzIgMTMuNTcgMjAuMDNDMTMuMjkgMTkuNzUgMTMuMTMgMTkuMzYgMTMuMTIgMTguOTZDMTMuMTIgMTguNTYgMTMuMjcgMTguMTcgMTMuNTUgMTcuODhMMTcuNzAgMTMuNjBIMy4xNEMyLjczIDEzLjYwIDIuMzQgMTMuNDQgMi4wNSAxMy4xNUMxLjc3IDEyLjg2IDEuNjAgMTIuNDcgMS42MCAxMi4wN0MxLjYwIDExLjY2IDEuNzcgMTEuMjcgMi4wNSAxMC45OEMyLjM0IDEwLjY5IDIuNzMgMTAuNTMgMy4xNCAxMC41M0gxNy43MEwxMy41NSA2LjI1QzEzLjI3IDUuOTYgMTMuMTAgNS41NyAxMy4xMCA1LjE3QzEzLjEwIDQuNzYgMTMuMjcgNC4zNyAxMy41NSA0LjA4WiIgZmlsbD0iI2ZmZmZmZiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwgLTQpIiAvPiA8L3N2Zz4=")
        no-repeat center !important;
      background-size: contain;
      opacity: 0.92;
    }

    &:hover,
    &:active {
      background-color: var(--wp--preset--color--contrast-2) !important;
      color: white !important;
    }
    .loadmoreposts-job-openings__unit &:hover,
    .loadmoreposts-job-openings__unit &:active {
      background-color: var(--wp--preset--color--custom-extra-blue) !important;
    }
    &:hover::after,
    &:active::after {
      transition: all 0.15s ease !important;
      background: transparent;
      // white arrow
      background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjU1IDQuMDhDMTMuODQgMy43OSAxNC4yMyAzLjYzIDE0LjY0IDMuNjNDMTUuMDQgMy42MyAxNS40MyAzLjc5IDE1LjcyIDQuMDhMMjIuNjIgMTAuOThDMjIuOTEgMTEuMjcgMjMuMDcgMTEuNjYgMjMuMDcgMTIuMDdDMjMuMDcgMTIuNDcgMjIuOTEgMTIuODYgMjIuNjIgMTMuMTVMMTUuNzIgMjAuMDVDMTUuNDMgMjAuMzMgMTUuMDUgMjAuNDggMTQuNjQgMjAuNDhDMTQuMjQgMjAuNDggMTMuODYgMjAuMzIgMTMuNTcgMjAuMDNDMTMuMjkgMTkuNzUgMTMuMTMgMTkuMzYgMTMuMTIgMTguOTZDMTMuMTIgMTguNTYgMTMuMjcgMTguMTcgMTMuNTUgMTcuODhMMTcuNzAgMTMuNjBIMy4xNEMyLjczIDEzLjYwIDIuMzQgMTMuNDQgMi4wNSAxMy4xNUMxLjc3IDEyLjg2IDEuNjAgMTIuNDcgMS42MCAxMi4wN0MxLjYwIDExLjY2IDEuNzcgMTEuMjcgMi4wNSAxMC45OEMyLjM0IDEwLjY5IDIuNzMgMTAuNTMgMy4xNCAxMC41M0gxNy43MEwxMy41NSA2LjI1QzEzLjI3IDUuOTYgMTMuMTAgNS41NyAxMy4xMCA1LjE3QzEzLjEwIDQuNzYgMTMuMjcgNC4zNyAxMy41NSA0LjA4WiIgZmlsbD0iI2ZmZmZmZiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwgLTQpIiAvPiA8L3N2Zz4=")
        no-repeat center;
      background-size: contain;
      transform: translate(0.4em, 0.2em);
    }
  }
  .loadmoreposts--job-openings {
    &:hover::after {
      background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjU1IDQuMDhDMTMuODQgMy43OSAxNC4yMyAzLjYzIDE0LjY0IDMuNjNDMTUuMDQgMy42MyAxNS40MyAzLjc5IDE1LjcyIDQuMDhMMjIuNjIgMTAuOThDMjIuOTEgMTEuMjcgMjMuMDcgMTEuNjYgMjMuMDcgMTIuMDdDMjMuMDcgMTIuNDcgMjIuOTEgMTIuODYgMjIuNjIgMTMuMTVMMTUuNzIgMjAuMDVDMTUuNDMgMjAuMzMgMTUuMDUgMjAuNDggMTQuNjQgMjAuNDhDMTQuMjQgMjAuNDggMTMuODYgMjAuMzIgMTMuNTcgMjAuMDNDMTMuMjkgMTkuNzUgMTMuMTMgMTkuMzYgMTMuMTIgMTguOTZDMTMuMTIgMTguNTYgMTMuMjcgMTguMTcgMTMuNTUgMTcuODhMMTcuNzAgMTMuNjBIMy4xNEMyLjczIDEzLjYwIDIuMzQgMTMuNDQgMi4wNSAxMy4xNUMxLjc3IDEyLjg2IDEuNjAgMTIuNDcgMS42MCAxMi4wN0MxLjYwIDExLjY2IDEuNzcgMTEuMjcgMi4wNSAxMC45OEMyLjM0IDEwLjY5IDIuNzMgMTAuNTMgMy4xNCAxMC41M0gxNy43MEwxMy41NSA2LjI1QzEzLjI3IDUuOTYgMTMuMTAgNS41NyAxMy4xMCA1LjE3QzEzLjEwIDQuNzYgMTMuMjcgNC4zNyAxMy41NSA0LjA4WiIgZmlsbD0iIzAwMzI1NCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwgLTQpIiAvPiA8L3N2Zz4=");
    }
  }
  &-small {
    font-family: var(--wp--preset--font-family--metropolis);
    border: 1px solid var(--wp--preset--color--contrast-2);
    padding: 0.375rem;
    background-color: white;
    cursor: pointer;
    border-radius: 0.375rem;
    transition: all 0.15s ease-in-out;
    font-size: 0.75rem;
    white-space: nowrap;
    &:hover {
      background-color: var(--wp--preset--color--accent-3);
      color: var(--wp--preset--color--contrast-2);
      border-color: var(--wp--preset--color--contrast-2);
    }
  }
}
.loadmoreposts-job-openings__button,
.loadmoreposts-event__button,
.loadmoreposts-post__button {
  font-size: 0.92rem;
  padding: 0.7rem 1.25rem 0.6rem 1.25rem !important;
  cursor: pointer !important;
  background-color: var(--wp--preset--color--contrast-2);
  transition: background-color 0.15s ease-in-out !important;
  border-radius: 0.5rem !important;
  font-weight: 600;
}
.loadmoreposts-event__button {
  background-color: var(--wp--preset--color--contrast);
  &:hover,
  &:active {
    background-color: var(--wp--preset--color--accent-2);
  }
}
.loadmoreposts-post__button {
  background-color: var(--wp--preset--color--contrast-2);
  &:hover,
  &:active {
    background-color: var(--wp--preset--color--contrast);
  }
}
