:root {
  --nav-minheight: 60px;
  --nav-padding: 0.25rem;
  --logo-width: 170px;
  @media screen and (min-width: 600px) {
    --logo-width: 188px;
    --nav-minheight: 78px;
    --nav-padding: 0.75rem;
  }
  @media screen and (min-width: 1080px) {
    --logo-width: inherit;
    --nav-padding: 0.25rem;
    --nav-minheight: 90px;
  }
  @media screen and (min-width: 1280px) {
    --logo-width: inherit;
    --nav-padding: 1.5rem;
    --nav-minheight: 104px;
  }
}

html {
  /* sticky header offset */
  scroll-padding-top: calc(var(--nav-padding) * 3) !important;
}
@media screen and (max-width: 1079px) {
  /* NAV BREAKPOINT CONTROL */

  /* hamburger button */
  .wp-block-navigation__responsive-container-open {
    color: var(--wp--preset--color--contrast-3);
    display: block !important;
    // transform: translateY(3px);
  }

  /* full menu */
  .wp-block-navigation__responsive-container:not(.is-menu-open.has-modal-open) {
    display: none !important;
  }

  .wp-block-navigation__responsive-container-close {
    // transform: translateY(0.75rem);
    transform: translateY(1.125rem);
    color: var(--wp--preset--color--contrast-3);
  }
}

header {
  padding: 0 !important;
  & > div {
    border-bottom: 1px solid var(--wp--preset--color--contrast-3);
  }
  & > div > div {
    min-height: var(--nav-minheight);
  }
  min-height: var(--nav-minheight);

  & > .wp-block-group.has-global-padding {
    // padding-top: var(--nav-padding) !important;
    // padding-bottom: var(--nav-padding) !important;
    @media screen and (max-width: 767px) {
    }
  }

  nav {
    .wp-block-navigation__container > .wp-block-navigation-item {
      font-weight: 600;
    }
    .wp-block-navigation-submenu__toggle {
      display: none !important;
    }
    .wp-block-navigation__container {
      @media screen and (min-width: 1080px) and (max-width: 1280px) {
        column-gap: 1.75rem !important;
      }
      & > .wp-block-navigation-item {
        @media screen and (max-width: 1079px) {
          &,
          & > .wp-block-navigation-item__content,
          & > .wp-block-navigation-item__label {
            font-size: 1.1rem !important;
          }
          & > .wp-block-navigation-item__content {
            font-size: 1.22rem !important;
          }
        }
        @media screen and (min-width: 1080px) and (max-width: 1280px) {
          /* TOP-LEVEL NAV ITEM FONT-SIZE UP TO 1024PX */
          &,
          & > .wp-block-navigation-item__content,
          & .wp-block-navigation-item__label {
            font-size: 0.94rem !important;
          }
        }
      }
    }
    @media screen and (max-width: 1079px) {
      .wp-block-navigation__container > .wp-block-navigation-item {
        &:not(.is-style-button-style) {
          & > .wp-block-navigation-item__content {
            position: relative;
            color: var(--wp--preset--color--contrast-3) !important;
            // top-level nav item contents
            font-size: 1.22rem !important;
            // outline: 2px solid purple !important;
            &::after {
              content: "";
              position: absolute;
              width: calc(100vw - 2rem);
              height: 1px;
              left: 0;
              right: 0;
              top: -4px;
              background-color: var(--wp--preset--color--contrast-3);
              // transform: translateX(50%);
            }
          }

          &:first-child > .wp-block-navigation-item__content {
            &::after {
              content: none;
            }
          }
        }
        & > .wp-block-navigation-item__content > .wp-block-navigation-item__label {
          font-size: 1.22rem !important;
        }
      }
      .wp-block-navigation-item__content {
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    @media screen and (min-width: 1080px) and (max-width: 1280px) {
      .wp-block-navigation__container > .wp-block-navigation-item:not(.is-style-button-style) {
        & > .wp-block-navigation-item__content {
          padding-top: 1.875rem;
          padding-bottom: 1.875rem;
          &:before {
            top: 1.3em;
          }
          &:after {
            bottom: 1.35em;
          }
        }
      }
    }
    @media screen and (min-width: 1280px) {
      .wp-block-navigation__container > .wp-block-navigation-item:not(.is-style-button-style) {
        & > .wp-block-navigation-item__content {
          &:before {
            top: 1.8125em;
          }
          &:after {
            bottom: 1.875em;
          }
        }
      }
    }
    @media screen and (min-width: 1080px) {
      // .wp-block-navigation__container {
      // & > .wp-block-navigation-item__content,
      // & > .wp-block-navigation-item > .wp-block-navigation-item__label {
      // }
      .wp-block-navigation__container {
        & > .current-menu-item .wp-block-navigation__content,
        > .wp-block-navigation-item:not(.is-style-button-style) > .wp-block-navigation-item__content {
          /* TOP-LEVEL NAV ITEM CONTENTS */
          text-decoration: none !important;
          --highlightheight: 6px;
          position: relative;
          &:before,
          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 16px;
            left: 0;
            opacity: 0;
            transform: translateX(50%);
            transition:
              opacity 0.15s ease-in-out,
              width 0.15s ease-in-out,
              transform 0.15s ease-in-out;
            background-image: linear-gradient(
              to bottom,
              var(--wp--preset--color--contrast-3) 0,
              var(--wp--preset--color--contrast-3) 50%,
              transparent 50%,
              transparent 100%
            );
            background:
              radial-gradient(circle at 100% 0, var(--wp--preset--color--contrast-3) 65%, transparent 75%) no-repeat,
              radial-gradient(circle at 100% 50%, var(--wp--preset--color--contrast-3) 65%, transparent 75%) no-repeat,
              radial-gradient(circle at 0 100%, var(--wp--preset--color--contrast-3) 65%, transparent 75%) no-repeat,
              linear-gradient(
                to right,
                transparent,
                transparent calc(var(--highlightheight) * 0.5),
                var(--wp--preset--color--contrast-3) var(--highlightheight),
                var(--wp--preset--color--contrast-3) calc(100% - var(--highlightheight)),
                transparent calc(100% - var(--highlightheight)),
                transparent 100%
              );
            background-size:
              var(--highlightheight) 100%,
              var(--highlightheight) 100%,
              var(--highlightheight) 100%,
              100% 100%;
            background-position:
              left bottom,
              calc(var(--highlightheight) * 0.5) bottom,
              right bottom,
              center bottom;
            height: var(--highlightheight);
            // filter: grayscale(100%);
          }
          &:before {
            // top: 1.1em;
          }
          &:after {
            // bottom: 1.1em;
          }
          &.current-menu-ancestor {
            color: var(--wp--preset--color--contrast-3) !important;
            font-weight: 900 !important;
            &:before,
            &:after {
              filter: none;
              opacity: 1 !important;
              font-weight: 900;
              width: 100%;
              transform: translateX(0);
            }
          }
        }
      }
      .wp-block-navigation__container .wp-block-navigation-item.current-menu-item:not(.is-style-button-style),
      .wp-block-navigation__container > .wp-block-navigation-item:not(.is-style-button-style):hover {
        & > .wp-block-navigation-item__content {
          color: var(--wp--preset--color--contrast-3) !important;
          &:before,
          &:after {
            opacity: 0.25;
            opacity: 1;
            width: 100%;
            transform: translateX(0);
          }
        }
      }
    }
    @media screen and (min-width: 1080px) {
    }
    @media screen and (max-width: 1079px) {
      .wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
        // positions the menu vertically
        // padding-top: 1rem;
        padding-top: 0;
        // margin-top: -0.5rem;
      }
      .wp-block-navigation__responsive-container-content {
        padding-top: 0.5rem !important;
        padding-bottom: 3rem;
      }
      .wp-block-navigation-item__content {
        padding-top: 0.375rem !important;
        // font-size: 1.5rem !important;
      }
      .wp-block-navigation-item.is-style-button-style {
        .wp-block-navigation-item__content {
          // padding: 0.5rem 0.75rem !important;
          padding: 0 !important;
        }
      }
      .wp-block-navigation-item {
        &:first-child {
          & > .wp-block-navigation-item__content {
            padding-top: 0.5rem !important;
          }
        }
      }
      .wp-block-navigation__responsive-container-content,
      .wp-block-navigation__container,
      .wp-block-navigation-item {
        align-items: flex-start !important;
      }
      .wp-block-navigation__container.items-justified-right {
      }
      .has-child {
        &:last-child {
          &after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 0;
          }
        }
        .wp-block-navigation__submenu-container {
          padding: 0;
          padding: 0 0 0 1rem !important;
        }
        .wp-block-navigation-item__content {
        }
      }
      .language-switcher__container {
        // position: absolute;
        // top: 2rem !important;
        // right: 0;
        margin-top: 1rem;
        .language-switcher__unit {
          a {
            font-size: 1.22rem !important;
            font-weight: 500;
          }
        }
      }
    }
    @media screen and (min-width: 1080px) {
      // DESKTOP NAV STYLING
      // body:not(.has-modal-open) {
      // Minimize chance of mobile nav looking terrible on desktop
      .wp-block-navigation__responsive-container-content
        > .wp-block-navigation__container
        > .wp-block-navigation-item.has-child {
        .wp-block-navigation__submenu-container,
        .wp-block-navigation-submenu {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 1.625rem;
            top: -1.625rem;
            background-color: transparent;
          }
        }
      }
      .wp-block-navigation__submenu-container {
        .wp-block-navigation-item__content {
          padding: 0.5rem 1.5rem !important;
        }
        left: 50% !important;
        background-color: white;
        transform: translate(-50%, -0.5em); // menu offset
        border: 1px solid var(--wp--preset--color--contrast-3) !important;
        border-radius: 0.875rem !important;
        & > *:first-child {
          padding-top: 0.625rem !important;
        }
        & > *:last-child {
          padding-bottom: 0.375rem !important;
        }
      }
      .wp-block-navigation__submenu-container {
        .wp-block-navigation-item__content {
          font-weight: 600;
          &:hover {
            text-decoration: none !important;
            .wp-block-navigation-item__label {
              color: var(--wp--preset--color--contrast-3) !important;
            }
          }
        }
        & > .wp-block-navigation-link {
          background-color: transparent !important;
        }
      }
    }
    @media screen and (min-width: 1280px) {
      .wp-block-navigation__submenu-container {
        .wp-block-navigation-item__content {
          padding: 0.6875rem 1.5rem !important;
        }
      }
    }
    @media screen and (min-width: 1280px) {
      .wp-block-navigation__submenu-container {
        transform: translate(-50%, 1.25em); // menu offset
      }
    }
    .wp-block-navigation-link {
      &.current-menu-item {
        .wp-block-navigation-item__content {
          cursor: default;
        }
        .wp-block-navigation-item__label {
          font-weight: 900 !important;
          color: var(--wp--preset--color--contrast-3) !important;
        }
      }
    }
    // --------- Login Menu Styling ---------
    @media screen and (max-width: 1079px) {
      .is-style-button-style {
        margin-top: 0.625rem;
        .wp-block-navigation__submenu-container {
          margin-top: 0 !important;
        }
        & > .wp-block-navigation-item__content {
          background-color: transparent;
          color: var(--wp--preset--color--contrast-3) !important;
          border-radius: 0;
        }
        padding: 0 !important;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -0.875rem;
          left: -1rem;
          background-color: var(--wp--preset--color--accent-4);
          height: calc(100% + 1.5625rem);
          width: 100vw !important;
        }
        &.current-menu-item > .wp-block-navigation-item__content {
          color: var(--wp--preset--color--white) !important;
        }
      }
    }
    .loginmenu-divider {
      & > .wp-block-navigation-item__content {
        font-size: 0.88rem !important;
        margin: 0.125em 0 0.375em !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        color: var(--wp--preset--color--contrast-3) !important;
      }
      @media screen and (max-width: 1079px) {
        margin-top: 0.5rem !important;
      }
      & ~ * {
        .wp-block-navigation-item__content {
          padding-left: 1rem;
          position: relative;
          padding-top: 0.1875em !important;
          padding-top: 0.1875em !important;
          padding-right: 0.5em !important;
          padding-bottom: 0 !important;
          @media screen and (min-width: 1080px) {
            padding-top: 0 !important;
          }
          &:last-child {
            padding-bottom: 0.375em !important;
          }
          .wp-block-navigation-item__label:before {
            content: "•";
            color: currentColor;
            display: inline-block;
            margin-right: 0.5em;
          }
        }
      }
    }

    @media screen and (min-width: 1080px) {
      .is-style-button-style {
        & > .wp-block-navigation-item__content {
          &:after {
            content: "";
            background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMi4zMCAxMC43NSI+IDxkZWZzPiA8c3R5bGU+IC5jbHMtMSB7IGZpbGw6ICNmZmY7IHN0cm9rZS13aWR0aDogMHB4OyB9IDwvc3R5bGU+IDwvZGVmcz4gPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTEuMTUsMTAuNzVjLS41NjQsMC0xLjEwLS4xNzg3LTEuNTUtLjUxNzZMLjgyOTcsMy43MEMuMzc2NiwzLjM2LjA4MDcsMi44NC4wMTQ4LDIuMjktLjA1MjYsMS43Mi4xMTE1LDEuMTcuNDc2Ny43M2MuMzg0My0uNDY0OC45NS0uNzMyNCwxLjU3LS43MzI0LjQ1LDAsLjkwNDMuMTQsMS4yNi40MTg5bDcuODMsNS44M0wxOC45OC40MjA0Yy4zNjUyLS4yNzEuODEtLjQyMDQsMS4yNy0uNDIwNC42MSwwLDEuMTkuMjY2NiwxLjU3LjczMS4zNi40NDI0LjUyLjk5NjEuNDYsMS41Ni0uMDY2NC41Ni0uMzYzMywxLjA3LS44MTQ1LDEuNDBsLTguNzcsNi41M2MtLjQ1MTIuMzMtLjk4NjMuNTEtMS41NC41MTM3WiIvPjwvc3ZnPg==")
              no-repeat;
            background-position: center;
            width: 0.875em;
            height: 0.75em;
            margin-left: 0.625rem;
            margin-right: -0.1875em;
            display: inline-block;
            transform: translateY(0.0625em);
          }
        }
        & > .wp-block-navigation__submenu-container {
          border: none !important;
          background-color: var(--wp--preset--color--accent-4) !important;
          margin-top: -0.5rem;
          transform: translate(0, 0);
          left: 0 !important;
          width: 100%;
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
          padding-top: 0;
        }
        &.current-menu-item > .wp-block-navigation-item__content {
          color: var(--wp--preset--color--white) !important;
        }
      }
    }
  }
}
.wp-block-site-logo {
  width: var(--logo-width);
  min-width: var(--logo-width);
}

header.header-sticky {
  position: sticky !important;
  height: 40px;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
@media screen and (min-width: 1080px) {
  /* widen dropdown menus */
  .wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container {
    min-width: 260px !important;
  }
}

// // - - - - - - - - - - -
// .is-style-button-style {
//   & > .wp-block-navigation-item__content {
//     &:after {
//       content: "";
//       background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMi4zMCAxMC43NSI+IDxkZWZzPiA8c3R5bGU+IC5jbHMtMSB7IGZpbGw6ICNmZmY7IHN0cm9rZS13aWR0aDogMHB4OyB9IDwvc3R5bGU+IDwvZGVmcz4gPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTEuMTUsMTAuNzVjLS41NjQsMC0xLjEwLS4xNzg3LTEuNTUtLjUxNzZMLjgyOTcsMy43MEMuMzc2NiwzLjM2LjA4MDcsMi44NC4wMTQ4LDIuMjktLjA1MjYsMS43Mi4xMTE1LDEuMTcuNDc2Ny43M2MuMzg0My0uNDY0OC45NS0uNzMyNCwxLjU3LS43MzI0LjQ1LDAsLjkwNDMuMTQsMS4yNi40MTg5bDcuODMsNS44M0wxOC45OC40MjA0Yy4zNjUyLS4yNzEuODEtLjQyMDQsMS4yNy0uNDIwNC42MSwwLDEuMTkuMjY2NiwxLjU3LjczMS4zNi40NDI0LjUyLjk5NjEuNDYsMS41Ni0uMDY2NC41Ni0uMzYzMywxLjA3LS44MTQ1LDEuNDBsLTguNzcsNi41M2MtLjQ1MTIuMzMtLjk4NjMuNTEtMS41NC41MTM3WiIvPjwvc3ZnPg==")
//         no-repeat;
//       background-position: center;
//       width: 0.875em;
//       height: 0.75em;
//       margin-left: 0.625rem;
//       margin-right: -0.1875em;
//       display: inline-block;
//       transform: translateY(0.0625em);
//     }
//   }
//   & > .wp-block-navigation__submenu-container {
//     border: none !important;
//     background-color: var(--wp--preset--color--accent-4) !important;
//     margin-top: -0.5rem;
//     transform: translate(0, 0);
//     left: 0 !important;
//     width: 100%;
//     border-top-left-radius: 0 !important;
//     border-top-right-radius: 0 !important;
//     padding-top: 0;
//   }
//   .loginmenu-divider {
//     & > .wp-block-navigation-item__content {
//       font-size: 0.8rem;
//       margin: 0;
//       padding: 0;
//     }
//   }
// }
// // - - - - - - - - - - -
