:root {
  --nav-minheight: 60px;
  --nav-padding: 0.25rem;
  --logo-width: 170px;
  @media screen and (min-width: 600px) {
    --logo-width: 188px;
    --nav-minheight: 78px;
    --nav-padding: 0.75rem;
  }
  @media screen and (min-width: 1080px) {
    --logo-width: inherit;
    --nav-padding: 0.25rem;
    --nav-minheight: 90px;
  }
  @media screen and (min-width: 1280px) {
    --logo-width: inherit;
    --nav-padding: 1.5rem;
    --nav-minheight: 104px;
  }
}

@media screen and (max-width: 1080px) {
  /* NAV BREAKPOINT CONTROL */

  /* hamburger button */
  .wp-block-navigation__responsive-container-open {
    color: var(--wp--preset--color--contrast-3);
    display: block !important;
    transform: translateY(3px);
  }

  /* full menu */
  .wp-block-navigation__responsive-container:not(.is-menu-open.has-modal-open) {
    display: none !important;
  }
  .wp-block-navigation__responsive-container-close {
    transform: translateY(0.75rem);
  }
}

header {
  padding: 0 !important;
  & > div {
    border-bottom: 1px solid var(--wp--preset--color--contrast-3);
  }
  & > div > div {
    min-height: var(--nav-minheight);
  }
  min-height: var(--nav-minheight);

  & > .wp-block-group.has-global-padding {
    // padding-top: var(--nav-padding) !important;
    // padding-bottom: var(--nav-padding) !important;
    @media screen and (max-width: 767px) {
    }
  }

  nav {
    .wp-block-navigation__container > .wp-block-navigation-item {
      font-weight: 600;
    }
    .wp-block-navigation-submenu__toggle {
      display: none !important;
    }
    .wp-block-navigation__container > .wp-block-navigation-item {
      @media screen and (max-width: 1079px) {
        &,
        & > .wp-block-navigation-item__content,
        & .wp-block-navigation-item__label {
          font-size: 1rem !important;
        }
      }
      @media screen and (min-width: 1080px) and (max-width: 1280px) {
        /* TOP-LEVEL NAV ITEM FONT-SIZE UP TO 1024PX */
        &,
        & > .wp-block-navigation-item__content,
        & .wp-block-navigation-item__label {
          font-size: 0.9rem !important;
        }
      }
    }
    @media screen and (max-width: 1079px) {
      .wp-block-navigation__container > .wp-block-navigation-item {
        &:not(.is-style-button-style) {
          & > .wp-block-navigation-item__content {
            position: relative;
            color: var(--wp--preset--color--contrast-3) !important;
            // top-level nav item contents
            font-size: 1.22rem !important;
            // outline: 2px solid purple !important;
            &::after {
              content: "";
              position: absolute;
              width: calc(100vw - 2rem);
              height: 1px;
              left: 0;
              right: 0;
              top: -2px;
              background-color: var(--wp--preset--color--contrast-3);
              // transform: translateX(50%);
            }
          }

          &:first-child > .wp-block-navigation-item__content {
            &::after {
              content: none;
            }
          }
        }
        .wp-block-navigation__container > .wp-block-navigation-item {
          // & > .wp-block-navigation-item__content {
          //   // MEMBER BUTTON
          // }
        }
        &
          > .wp-block-navigation-item__content
          > .wp-block-navigation-item__label {
          font-size: 1.22rem !important;
        }
      }
      .wp-block-navigation-item__content {
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    @media screen and (min-width: 1080px) and (max-width: 1280px) {
      .wp-block-navigation__container
        > .wp-block-navigation-item:not(.is-style-button-style) {
        // & > .wp-block-navigation-item__content,
        // & > .wp-block-navigation-item > .wp-block-navigation-item__label {
        // }
        & > .wp-block-navigation-item__content {
          padding-top: 1.875rem;
          padding-bottom: 1.875rem;
          &:before {
            top: 1.3em;
          }
          &:after {
            bottom: 1.35em;
          }
        }
      }
    }
    @media screen and (min-width: 1280px) {
      .wp-block-navigation__container
        > .wp-block-navigation-item:not(.is-style-button-style) {
        & > .wp-block-navigation-item__content {
          &:before {
            top: 1.8125em;
          }
          &:after {
            bottom: 1.8125em;
          }
        }
      }
    }
    @media screen and (min-width: 1080px) {
      .wp-block-navigation__container
        > .wp-block-navigation-item:not(.is-style-button-style) {
        // & > .wp-block-navigation-item__content,
        // & > .wp-block-navigation-item > .wp-block-navigation-item__label {
        // }

        & > .wp-block-navigation-item__content {
          /* TOP-LEVEL NAV ITEM CONTENTS */
          text-decoration: none !important;
          --highlightheight: 6px;
          position: relative;
          &:before,
          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 16px;
            left: 0;
            opacity: 0;
            transform: translateX(50%);
            transition:
              opacity 0.15s ease-in-out,
              width 0.15s ease-in-out,
              transform 0.15s ease-in-out;
            background-image: linear-gradient(
              to bottom,
              var(--wp--preset--color--contrast-3) 0,
              var(--wp--preset--color--contrast-3) 50%,
              transparent 50%,
              transparent 100%
            );
            background:
              radial-gradient(
                  circle at 100% 0,
                  var(--wp--preset--color--contrast-3) 65%,
                  transparent 75%
                )
                no-repeat,
              radial-gradient(
                  circle at 100% 50%,
                  var(--wp--preset--color--contrast-3) 65%,
                  transparent 75%
                )
                no-repeat,
              radial-gradient(
                  circle at 0 100%,
                  var(--wp--preset--color--contrast-3) 65%,
                  transparent 75%
                )
                no-repeat,
              linear-gradient(
                to right,
                transparent,
                transparent calc(var(--highlightheight) * 0.5),
                var(--wp--preset--color--contrast-3) var(--highlightheight),
                var(--wp--preset--color--contrast-3)
                  calc(100% - var(--highlightheight)),
                transparent calc(100% - var(--highlightheight)),
                transparent 100%
              );
            background-size:
              var(--highlightheight) 100%,
              var(--highlightheight) 100%,
              var(--highlightheight) 100%,
              100% 100%;
            background-position:
              left bottom,
              calc(var(--highlightheight) * 0.5) bottom,
              right bottom,
              center bottom;
            height: var(--highlightheight);
            // filter: grayscale(100%);
          }
          &:before {
            // top: 1.1em;
          }
          &:after {
            // bottom: 1.1em;
          }
          &.current-menu-ancestor {
            color: var(--wp--preset--color--contrast-3) !important;
            font-weight: 900 !important;
            &:before,
            &:after {
              filter: none;
              opacity: 1 !important;
              font-weight: 900;
              width: 100%;
              transform: translateX(0);
            }
          }
        }
        &:hover {
          & > .wp-block-navigation-item__content {
            color: var(--wp--preset--color--contrast-3) !important;
            &:before,
            &:after {
              opacity: 0.25;
              opacity: 1;
              width: 100%;
              transform: translateX(0);
            }
          }
        }
      }
    }
    @media screen and (min-width: 1080px) {
    }
    @media screen and (max-width: 1079px) {
      .wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
        padding-top: 1rem;
      }
      .wp-block-navigation__responsive-container-content {
        padding-top: 1rem !important;
        padding-bottom: 4rem;
      }
      .wp-block-navigation-item__content {
        padding-top: 0.625rem !important;
        // font-size: 1.5rem !important;
      }
      .wp-block-navigation-item.is-style-button-style {
        .wp-block-navigation-item__content {
          padding: 0.5rem 0.75rem !important;
        }
      }
      .wp-block-navigation-item {
        &:first-child {
          & > .wp-block-navigation-item__content {
            padding-top: 0.5rem !important;
          }
        }
      }
      .wp-block-navigation__responsive-container-content,
      .wp-block-navigation__container,
      .wp-block-navigation-item {
        align-items: flex-start !important;
      }
      .wp-block-navigation__container.items-justified-right {
      }
      .has-child {
        &:last-child {
          &after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 0;
          }
        }
        .wp-block-navigation__submenu-container {
          padding: 0;
          padding: 0 0 0 1rem !important;
        }
        .wp-block-navigation-item__content {
        }
      }
      .language-switcher__container {
        // position: absolute;
        // top: 2rem !important;
        // right: 0;
        margin-top: 1rem;
        .language-switcher__unit {
          a {
            font-size: 1.22rem !important;
            font-weight: 500;
          }
        }
      }
    }
    @media screen and (min-width: 1080px) {
      // DESKTOP NAV STYLING
      // body:not(.has-modal-open) {
      // Minimize chance of mobile nav looking terrible on desktop
      .wp-block-navigation__responsive-container-content
        > .wp-block-navigation__container
        > .wp-block-navigation-item.has-child {
        .wp-block-navigation__submenu-container,
        .wp-block-navigation-submenu {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 1.625rem;
            top: -1.625rem;
            background-color: transparent;
          }
        }
      }
      .wp-block-navigation__submenu-container {
        .wp-block-navigation-item__content {
          padding: 0.5rem 1.5rem !important;
        }
        left: 50% !important;
        background-color: white;
        transform: translate(-50%, -0.5em); // menu offset
        border: 1px solid var(--wp--preset--color--contrast-3) !important;
        border-radius: 0.875rem !important;
        & > *:first-child {
          padding-top: 0.625rem !important;
        }
        & > *:last-child {
          padding-bottom: 0.375rem !important;
        }
      }
      // }
      .wp-block-navigation__submenu-container {
        .wp-block-navigation-item__content {
          font-weight: 600;
          &:hover {
            text-decoration: none !important;
            .wp-block-navigation-item__label {
              color: var(--wp--preset--color--contrast-3) !important;
            }
          }
        }
        & > .wp-block-navigation-link {
          background-color: transparent !important;
        }
      }
    }
    @media screen and (min-width: 1280px) {
      .wp-block-navigation__submenu-container {
        .wp-block-navigation-item__content {
          padding: 0.6875rem 1.5rem !important;
        }
      }
    }
    @media screen and (min-width: 1280px) {
      .wp-block-navigation__submenu-container {
        transform: translate(-50%, 1.25em); // menu offset
      }
    }
    .wp-block-navigation-link {
      &.current-menu-item {
        .wp-block-navigation-item__content {
          cursor: default;
        }
        .wp-block-navigation-item__label {
          font-weight: 900 !important;
          color: var(--wp--preset--color--contrast-3) !important;
        }
      }
    }
  }
}
.wp-block-site-logo {
  width: var(--logo-width);
  min-width: var(--logo-width);
}

header.header-sticky {
  position: sticky !important;
  height: 40px;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
