.slider-claimsprocess {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 768px) {
    overflow: hidden;
  }
  @media screen and (min-width: 900px) {
    &,
    &.swiper-initialized {
      overflow: visible;
    }
  }
  .swiper-horizontal,
  .swiper-wrapper {
    overflow: visible;
  }
  @media screen and (min-width: 1920px) {
    // fader “ears” for wide screens
    --half-breakpoint: 740px;
    --content-size: 1320px;
    // --fader-bgc: 1, 51, 83; // navy blue
    --fader-bgc: 200, 218, 223; // pale blue
    --fader-size: calc(50vw - calc(var(--content-size) * 0.5));
    --fader-taper: 12rem;

    position: relative;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      width: var(--fader-size);
      z-index: 2;
    }
    &:before {
      left: 0;
      transform: translateX(-100%);
      background: linear-gradient(
        to left,
        rgba(var(--fader-bgc), 0) 0,
        rgba(var(--fader-bgc), 1) var(--fader-taper),
        rgba(var(--fader-bgc), 1) 100%
      );
    }
    &:after {
      background: linear-gradient(
        to right,
        rgba(var(--fader-bgc), 0) 0,
        rgba(var(--fader-bgc), 1) var(--fader-taper),
        rgba(var(--fader-bgc), 1) 100%
      );
      transform: translateX(100%);
      right: 0;
    }
  }
  .swiper-container-outer {
    border-radius: 1.5rem;
    justify-content: flex-start !important;
  }
  .swiper {
    margin-bottom: 1rem;
    @media screen and (min-width: 768px) {
      margin-bottom: unset;
    }
  }
  .gutslider-nav {
    column-gap: 0.625rem !important;
    transform: translateY(2rem);
    .swiper-button-prev,
    .swiper-button-next {
      border: 2px solid black;
      border: 2px solid var(--wp--preset--color--contrast);
      background-color: transparent;
      padding: 0.25rem;
      &:after {
        color: black;
        color: var(--wp--preset--color--contrast-3);
      }
    }
    .swiper-button-prev {
    }
    .swiper-button-next {
    }
  }

  .wp-block-gutsliders-any-content .gutslider-content-inner {
    position: absolute;
    left: 50%;
    transform: translate(-50%) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: clamp(15px, 4vw, 30px) !important;
    max-width: calc(100% - 4em) !important;
  }

  &.wp-block-gutsliders-any-content {
    .swiper .swiper-container-outer .gutslider-content-inner {
      padding: clamp(25px, 6vw, 20px) clamp(10px, 4vw, 15px) !important;
    }
  }

  .claims-process-slider {
    --number: 2.25rem;
    --heading: 1.1875rem;
    & > .wp-block-columns {
      & > .wp-block-column:first-child {
        // big number
        @media screen and (max-width: 839px) {
          // width of big number
          flex-basis: 100px !important;
        }
        @media screen and (min-width: 840px) {
          flex-basis: 106px !important;
        }
        & > .wp-block-group {
          @media screen and (min-width: 640px) and (max-width: 839px) {
            // height of big number shape
            display: flex;
            align-items: center;
            min-height: 5.25rem !important;
          }
        }
      }
      & > .wp-block-column:last-child {
        // text
        .wp-block-heading {
        }
        padding-top: 0.75rem !important;
        padding-bottom: 0.625rem !important;
        @media screen and (min-width: 600px) {
          padding-top: 0.75rem !important;
          padding-bottom: 0.75rem !important;
        }
        @media screen and (min-width: 840px) {
          padding-top: 0.875rem !important;
          padding-bottom: 0.875rem !important;
        }
        @media screen and (min-width: 1200px) {
          padding-top: 1.125rem !important;
          padding-bottom: 1.125rem !important;
        }
      }
      @media screen and (max-width: 839px) {
        flex-wrap: wrap !important;
      }
    }
    h2.wp-block-heading {
      font-size: var(--number) !important;
      transform: translateY(0.015em);
    }
    h5 {
      font-size: var(--heading) !important;
      // transform: translateY(0.015em);
    }
    @media screen and (min-width: 600px) {
      --heading: 1.375rem;
      --number: 3rem;
    }
    @media screen and (min-width: 840px) {
      --number: 4rem;
      --heading: 1.5rem;
    }
    @media screen and (min-width: 1200px) {
      --number: 4rem;
      --heading: 1.5625rem;
    }
  }
}
