.wpforms-confirmation-container-full {
  --logosize: 4.5rem;
  --vpad: 1rem;
  --conf-heading: 1.5rem;
  --conf-message: 1rem;
  position: fixed !important;
  z-index: 1000 !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px !important;
  max-width: calc(100vw - 30px);
  min-height: calc(var(--logosize) + var(--vpad) * 2) !important;
  height: auto;
  border-width: 3px !important;
  border-color: var(--wp--preset--color--accent-4) !important;
  border-radius: 1.5rem !important;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iOTkiIHZpZXdCb3g9IjAgMCA5OCA5OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI0OSIgY3k9IjQ5Ljc3IiByPSI0Ni45MiIgZmlsbD0iIzAwNkZCQSIgc3Ryb2tlPSIjMDAzMjU0IiBzdHJva2Utd2lkdGg9IjQiLz48cGF0aCBkPSJNNDcuMzQgNjQuNzBDNDUuNzggNjYuMjMgNDMuMjggNjYuMjMgNDEuNzMgNjQuNzBMMjkuNDUgNTIuNjJDMjguMjUgNTEuNDMgMjguMjUgNDkuNDkgMjkuNDUgNDguMzBDMzAuNjMgNDcuMTQgMzIuNTMgNDcuMTQgMzMuNzAgNDguMzBMNDQuNTMgNTguOTZMNzAuMjEgMzMuNjlDNzEuMzkgMzIuNTMgNzMuMjggMzIuNTMgNzQuNDYgMzMuNjlDNzUuNjcgMzQuODcgNzUuNjcgMzYuODIgNzQuNDYgMzguMDFMNDcuMzQgNjQuNzBaIiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPg==")
    no-repeat center !important;
  background-color: white !important;
  background-size: var(--logosize) !important;
  background-position: calc(var(--vpad) * 0.9375) 50% !important;
  transition:
    left 0.15s ease-in-out,
    right 0.15s ease-in-out,
    padding 0.15s ease-in-out,
    background-size 0.15s ease-in-out !important;
  & > * {
    transition: all 0.15s ease-in-out;
    padding-left: calc(var(--logosize) + var(--vpad) * 1) !important;
    text-align: left !important;
  }

  *:last-child {
    margin-bottom: 1rem !important;
  }

  *:first-child {
    padding-right: 2.5rem !important;
    margin-top: 1rem !important;
  }
  @media screen and (min-width: 768px) {
    --logosize: 7rem;
    --vpad: 1.5rem;
    --conf-heading: 1.75rem;
    --conf-message: 1.2rem;
    & > * {
      padding-left: calc(var(--logosize) + var(--vpad) * 1.375) !important;
    }
  }
  h2 {
    color: var(--wp--preset--color--accent-5) !important;
    font-size: var(--conf-heading) !important;
    margin-bottom: calc(var(--vpad) * 0.5) !important;
  }
  p {
    font-size: var(--conf-message) !important;
  }

  & > .closex {
    position: absolute;
    display: block;
    width: 2.5rem !important;
    height: 2.5rem !important;
    background: var(--icon-closex);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    padding: 0;
    top: 0.5rem;
    right: 0.125rem;
    opacity: 0.5;
    transition:
      0.15s opacity ease-in-out,
      0.15s outline ease-in-out;
    transition-delay: 0, 0.5s;

    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: 1px dotted var(--cpa-green);
    }
  }
}

.wpforms-confirmation-container-full {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1s,
    transform 1s;
}

.wpforms-confirmation-container-full.active {
  opacity: 1;
  transform: translateY(0);
}
