<!-- wp:swd/template-part-swap-language {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<main
  class="wp-block-group"
  style="margin-top: var(--wp--preset--spacing--50); margin-bottom: var(--wp--preset--spacing--50)"
>
  <!-- wp:swd/template-part-swap-language {"slug":"page-not-found","area":"content","tagName":"content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:swd/template-part-swap-language {"slug":"footer","area":"footer","tagName":"footer"} /-->
